.vscode/**
.vscode-test/**
.vscode-dev/**
.github/**
src/**
out/test/**
.gitignore
.yarnrc
.mocharc.json
vsc-extension-quickstart.md
AGENTS.md
CLAUDE.md
GEMINI.md
xrobot/**
_artifacts/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
